@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-default: 'Roboto', sans-serif;
$color-primary: #04b2e2;
$color-secondary: #e5e5e5;
$color-grey: #f7f7f7;
$color-white: #fff;
$color-black: #000;